#navbar .logo{
    float: none;
    text-align: center;
} 

#navbar ul, #navbar ul li{
    float: none;
    text-align: center;
}

#navbar ul li a{
    padding: 5px;
    border-bottom: dotted #444 1px;
}

/* showcase */

#showcase .showcase-content{
  padding: 70px;
  padding-bottom: 30px;
}

#showcase .showcase-content p{
    font-size: 17px;
    max-width: 400%;
    line-height: 1.1;
    padding-top: 5px;
}

/* home info */

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float: none;
    width: 100%;
}

/* boxes */

.box{
    float: none;
    width: 100%;
}

/* about */

#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}

#about-info .info-right{
    margin-top: 30px;
}


.l-heading{
    text-align: center;
}

/* contact info */

#contact-info .box{
    border-bottom: #444 dotted 1px;
}





   